<body>   
    Logged as {{user}}

    <h2>My Words List</h2>    

   {# {{ request }} #}
   <a href="{% url 'wordCreate' %}">add word</a>
   <div>
    <form action="">
        <label for="searchWord">Search:</label><input type="text" id="searchWord" name="searchWord">
        <input type="submit" value="Submit">
    </form>
   </div> 
   <hr>
   <div>
    {% if searchWord %}
        Words starting with {{ searchWord }}
    {% endif %}
   <table>
    {% for word in words %}
       <tr>
        <td><a href="{% url 'wordUpdate' word.slug %}">edit</a></td>
        <td><a href="{% url 'worddetailSlug' word.slug %}">{{ word.word }}</a></td>
        <td>{{ word.meaning|linebreaksbr }}</td>
        <td>{{ word.examples|linebreaksbr }}</td>
        </tr>
    {% endfor %}
    </table>
    </div> 

</body>   

<!-- <td></td> >


