<body>   
    

   {# {{ request }} #}


   {% block content %}
   {{user}}
   <h1>{{ word.word }}</h1> 
 
 
   <br>
 
   {{ meaning|linebreaksbr }}

   <br>
 
   <a href="{% url 'wordUpdate' word.slug %}"><small>edit</small></a>
   <a href="{% url 'wordDelete' word.slug %}"><small>Delete</small></a>
 
   <p><strong>Meaning:</strong><br> {{ word.meaning|linebreaksbr }}</p>
   <p><strong>Examples:</strong><br> {{ word.examples|linebreaksbr }}</p>
 {% endblock %}

 

 <hr>
 <a href="{% url 'wordslist' %}">Volver</a>

 <div id="django-debug"><pre>{% debug %}</pre></div> 
 
 </body>   
